{% load static %}

<ul class="side-nav fixed">
    <li class="blue-fill"></li>
    <li class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static "image/logo-white.png" %}" alt="jointbox">
        </a>
    </li>
    <li>
        <a href="{% url 'personnel' %}" class="waves-effect waves-light white-text">
            <i class="material-icons">people</i>Personnel
        </a>
    </li>
    <li>
        <a href="{% url 'roles' %}" class="waves-effect waves-light white-text">
            <i class="material-icons">person</i>Roles
        </a>
    </li>
    <li>
        <a href="{% url 'places' %}" class="waves-effect waves-light white-text">
            <i class="material-icons">place</i>Places
        </a>
    </li>
    <li>
        <a href="#" class="waves-effect waves-light white-text">
            <i class="material-icons">lock_outline</i>ACLs
        </a>
    </li>
    <li>
        <a href="#" class="waves-effect waves-light white-text">
            <i class="material-icons">developer_board</i>Controllers
        </a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url "logout" %}" class="waves-effect waves-light white-text">
                <i class="material-icons">exit_to_app</i>Log Out
            </a>
        </li>
    {% endif %}
</ul>